body{
    background: linear-gradient(#c0feff, #a1fbfc);
}
h1{
    border-bottom:solid black;
    color:#f0fff2de;
    text-shadow:rgb(40, 106, 16) 1px 0 10px;
    background-color: #fbffe9;

}
h2{
    background-color:#14ff00db;
}
h3{
    background-color: #3eb7ffcf;
}
div.content{
    background-color: #fff0;
    padding-right: 850px;
    
}
div{
    background-color: #ffffffd1;
}
a:hover{
    text-decoration: none;
}