body{
    background: linear-gradient(#c0feff, #a1fbfc);
}
h1{
    border: black;
    border-bottom:solid black;
    color:#d6ffe0de;
    text-shadow:rgb(32, 100, 7) 1px 0 10px;
    background-color: #dfdfdf;

}
h2{
    background-color:#14ff00db;
}
h3{
    background-color: #3eb7ffcf;
}
div.content{
    background-color: #fff0;
    padding-right: 900px;
    
}
div{
    background-color: #ffffffd1;
}
a:hover{
    text-decoration: none;
}